.horizontaLeftAbout {
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: transparent !important;
    z-index: 999 !important;
}
.horizontaLeftAbout_1 {
    text-align: left;
    direction: ltr;
    writing-mode: vertical-rl;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 350px;
    margin-left: 30px;
    font-weight: 500;
    font-size: 12px;
    color: #2b2b2b !important;
    transform: rotate(180deg);
}
.horizontalRightAbout_1 {
    text-align: left;
    direction: ltr;
    writing-mode: vertical-rl;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 350px;
    font-weight: 500;
    font-size: 12px;
    color: #2b2b2b !important;

}
.horizontalRightAbout {
    width: 100px;
    height: 100%;
    position: fixed;
    top: 20px;
    right: 0;
    background-color: transparent !important;
    color: black !important;
    padding: 10px 16px;
    z-index: 999;
}
.about_titile_img {
    margin: 0 auto;
    padding-top: 25px;

}
.about_titile_img_2 {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.about_info {
    padding-top: 25px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about_info_1 {
    display: block;
    align-items: center;
    text-align: center;
}

.about_info_2 {
    font-family: Poppins, Arial, sans-serif;
    font-size: 38px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 700;
    color: #232323;
}
.about_info_3 {
    width: 100%;
    color: #777777;
    font-family: Raleway, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    letter-spacing: 0.5px;
    line-break: anywhere;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 25px;
    line-height: 32px;
    font-weight: normal;

}
.about_info_button {
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: black;
    transition: all .5s;
    padding: 19px 40px 17px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: .3px;
    margin-bottom: 50px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 400;
    outline: none;
}
.about_info_button:hover {
    background-color: #5a6268;
    transition: all .5s;
}

.about_main {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
}

.about_main_1 {
    width: 100%;
    height: auto;
    padding-left: 150px;
    padding-right: 150px;
    position: relative;
}

.about_main_img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about_main_button {
    width: 81px;
    height: 45px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    margin: -22.5px 0px 0px -40px;
}

.about_main_button_1 {
    border: none;
    outline: none;
    background-color: white;
    text-align: center;
    align-items: center;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    margin-top: 10%;
    cursor: pointer;
}

.about_costumers {
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.about_costumers_2 {
    color: #000000;
    font-family: Poppins, Arial, sans-serif;
    font-size: 42px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 600;
}

.about_costumers_3 {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 600;
    color: #000000;
}

.about_costumers_4 {
    color: #999999;
    font-family: Lora, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
}

.about_costumers_5 {
    color: #000000;
    font-family: Poppins, Arial, sans-serif;
    font-size: 42px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 600;
    position: relative;
}

.about_costumers_6 {
    font-family: Poppins, Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 600;
    color: #000000;
    position: absolute;
    top: 0;
    right: 30%;
}

.about_costumers_line {
    width: 80%;
    border: 1px solid #999999;
    margin-bottom: 50px;
    margin-left: 150px;
}

.about_team_info {
    width: 100%;
    height: auto;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    align-items: center;
    background-color: transparent;
    padding-bottom: 50px;
}

.about_team_info_1 {
    font-family: Poppins, Arial, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 700;
    padding-bottom: 50px;
}

.about_team_info_2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    padding-bottom: 50px;
}

.about_team_info_3 {
    width: 100%;
    height: auto;
    position: relative;
    background-color: transparent;
    align-items: center;
    text-align: center;
}

.about_team_info_3_img {
    object-fit: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.about_team_info_5 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
    overflow: hidden;
    transition: all 0.5 ease;
}

.about_team_info_5_1 {
    font-family: Lora, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
    color: white;
    align-items: center;
    text-align: center;
    margin-top: 50%;
}

.about_team_info_5_2 {
    font-family: Raleway, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
    color: white;
    margin: 10px 40px;
}

.about_team_info_5_3 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.about_team_info_5_3_1 {
    font-family: Raleway, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
    color: white;
    transition: all 0.5 ease;
}

.about_team_info_5_3_1:hover {
    color: #888888;
}

.about_team_info_name {
    width: 300px;
    height: 60px;
    background-color: white;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 28px;
}

.about_team_info_name_1 {
    font-family: Poppins, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
    color: black;
    text-align: center;
    align-items: center;
    padding-top: 20px;
}

.about_team_info_name_2 {
    font-family: Lora, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
    text-align: center;
    align-items: center;
    color: #999999;
    transition: all 0.5 ease;
}

.about_team_info_name_1:hover {
    color: #BE4237;
}

.about_team_info_3:hover .about_team_info_5 {
    display: block;
}

.swippers {
    width: 100%;
    background: white;
    font-size: 14px;
    margin: 0;
    padding-left: 150px;
    padding-right: 150px;
    position: relative;
    height: auto;
    display: block;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

.swiper-container {
    width: 100%;
    height: auto;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide_2 {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper-slide_3 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.swiper-slide_4 {
    font-family: Raleway Arial sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-break: strict;
    text-align: center;
    align-items: center;
    color: #999999;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.swiper-slide_5 {
    font-family: Poppins Arial sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #232323;
    text-transform: uppercase;
}

.swiper-slide_6 {
    color: #777777;
    font-size: 15px;
    font-weight: 500;
}

/* Swiper 2 */
.swipper_2 {
    position: relative;
    width: 100%;
    height: auto;
    background: transparent;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 50px 150px;

}
.mySwiper_1 {
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}

.swiper_slide_2_1 {
      text-align: center;
      font-size: 18px;
      background: transparent;
      align-items: center;
    }
    .swiper_slide_2_1{
      display: block;
    width: 100%;
      height: auto;
      object-fit: cover;
    }
.swipper_2_img{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
