@import url(../css/reset.css);
.blog_body {
    width: 100%;
    height: auto;
    padding: 50px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.blog_body_left {
    grid-area: 1 / 1 / 6 / 3;
}

.blog_body_right {
    grid-area: 1 / 3 / 6 / 4;
}

.blog_body_left_1 {
    width: 100%;
    height: auto;
    display: block;

}

.blog_body_left_1_1 {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
}

.blog_body_left_1_2_3 {
    padding-top: 25px;
    padding-bottom: 10px;
}

.blog_body_left_1_2 {
    display: contents;
    justify-content: left;
    text-align: left;
    align-items: start;
    font-family: 'Lora' sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
    color: #999999;

}

.blog_body_left_1_2_1 {
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
    color: black;
    transition: all 0.5 ease;
}

.blog_body_left_1_2_1:hover {
    color: #EA4B3D;

}

.blog_body_left_1_2_2 {
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
    color: #777777;

}

.blog_body_left_1_3 {
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
    color: black;
    transition: all 0.5 ease;
    padding-bottom: 20px;
}

.blog_body_left_1_3:hover {
    color: #EB4B3D;
}

.blog_body_left_1_4 {
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: 26px;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
    color: #777777;
    padding-bottom: 20px;
}

.blog_body_left_1_5 {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
    padding-bottom: 20px;
    transition: all 0.5 ease;
}
.blog_body_left_1_5:hover{
 color: #EB4B3D;
}

.blog_body_left_1_line {
    border-bottom: 3px dashed #77777798;  /*Sol tərəfdə blogların altından çəkilən xətt */
    margin-bottom: 50px;
    padding-top: 50px;
}

  /* Css Sağ təfər grid*/
.blog_body_right{
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    padding: 20px 80px;
  
}
.blog_body_right_1{
     width: 100%;
    height: auto;
    display: block;
    align-items: center;
    text-align: center;
}
.blog_body_right_1_input{
    width: 220px;
    height: 40px;
    display: flex;
    justify-content:center;
    background-color:white;
    border: 1px solid #77777718;
    align-items: center;
    text-align: center;
    font-family: "Poppins";
    color: #777777;
    font-size: 12px;
}
.blog_body_right_1_input_1{
    border: none;
    outline: none;
    font-family: "Poppins";
    font-style: normal;
    color: #777777;
    font-size: 12px;
    text-align: left;
    font-weight: 600;
}
.blog_body_right_line{
   width: 100%;
    padding-bottom: 40px;
    margin-bottom: 42px;
    border-bottom: 1px solid #77777718;
}
.blog_body_right_2{
text-align: left;
align-items: start;

}
.blog_body_right_2_1{
    color: #232323;
    line-height: 1.2;
font-family: Poppins, Arial, sans-serif;
font-size: 13px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 500;
padding-bottom: 25px;
text-transform: uppercase;

}
.blog_body_right_2_3{
font-family: Poppins, Arial, sans-serif;
font-size: 13px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 500;
color: #777777;
 transition: all 0.5 ease;
 padding-bottom: 10px;

}
.blog_body_right_2_3:hover{
color: #EA5548;
}
.blog_body_right_line_1{
     width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid #77777718;
}
.blog_body_right_3{
    width: 100%;
    height: auto;
}
.blog_body_right_3_1{
font-family: Poppins, Arial, sans-serif;
font-size: 13px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 500;
color: #232323;
padding: 25px 0;

}
.blog_body_right_3_buttons{
    display: block;
    align-items: start;
    text-align: left;
}

.blog_body_right_3_buttons_1{
    width: 60px;
    height: 30px;
    color: black;
    font-weight: 500;
    font-size: 12px !important;
    letter-spacing: .3px;
    vertical-align: top;
    margin: 0 10px 14px 0;
    border: 1px solid #e8e8e8;
    background: #fcfcfc;
    text-align: center;
    transition: all 0.5 ease;

}
.blog_body_right_3_buttons_2{
     width: 80px;
    height: 30px;
    color: black;
    font-weight: 500;
    font-size: 12px !important;
    letter-spacing: .3px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 14px 0;
    border: 1px solid #e8e8e8;
    background: #fcfcfc;
    text-align: center;
      transition: all 0.5 ease;
}
.blog_body_right_3_buttons_1:hover, .blog_body_right_3_buttons_2:hover{
color: #fcfcfc;
background-color: #EA4B3D;
}
.blog_end_button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
}
.blog_end_button_1{
    color: white;
    border: 1px solid #777777;
    width: 30px;
    height: 30px;
    align-items: center;
    background-color: #232323;
}
.blog_end_button_2{
     color:#232323 ;
    border: 1px solid #777777;
    width: 15px;
    height: 33px;
    align-items: center;
    background-color: white;

}